input[disabled]{
  background-color: #eee;
  cursor: not-allowed;
}
#drop_zone{
  border: 1px dashed #ccc;
  height: 50px;
  position: relative;
}
#drop_zone span.text{
  position: absolute;
  display: inline-block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  color: rgb(255, 255, 255);
}
#drop_zone.-on{
  border: 1px dashed lightblue;
  box-shadow: 3px 3px 5px lightblue inset, -3px -3px 5px lightblue inset;
}
#preview{
  border: 1px solid rgb(255, 255, 255);
  display: inline-block;
  width: 100px;
  min-height: 150px;
  position: relative;
}
#preview span.text{
  position: absolute;
  display: inline-block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  color: lightgray;
}
#preview img.preview_img{
  width: 100%;
}



