<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="hibernate.connection.password">5acv4lqw</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/JDBCSample?serverTimezone=Asia/Taipei</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">validate</property>
		<property name="hibernate.current_session_context_class">thread</property>

		<mapping class="entity.UserInfo" />
		<mapping class="entity.DinerInfo" />
		<mapping class="entity.Product" />
		<mapping class="entity.ProductType" />
		<mapping class="entity.ProductVary " />
		<mapping class="entity.GroupOrder " />
		<mapping class="entity.UserOrderDetail " />
		<mapping class="entity.UserOrderDetailVary" />
		<mapping class="entity.DinerRatingComment" />
		<mapping class="entity.CommentLike" />
		<mapping class="entity.BuildingInfo" />
		<mapping class="entity.WebEmpAdmin" />
		<mapping class="entity.UserNews" />
		<mapping class="entity.Advertisement" />
		<mapping class="entity.UserFAQ" />
		<mapping class="entity.ConsumerForm" />
		<mapping class="entity.DinerForm" />
		<mapping class="entity.OnlineChat" />
		<mapping class="entity.Favorite" />
		<mapping class="entity.businessHours" />
		<mapping class="entity.VaryType" />
		<mapping class="entity.DinerNews" />
		
	</session-factory>
</hibernate-configuration>
