

/*input標籤沒有調整*/

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


button.print{
  float: right; 
  font-weight:bold
  
}

div.dataTables_paginate{
  float: right; 
}


